%div.container{style: "margin-top:50px;"}
  %div.starter-template
    %h1= "Bootstrap starter template"
    %p.lead= "Use this document as a way to quickly start any new project."
    %p.lead= "All you get is this text and a mostly barebones HTML"