.navbar-container{
  padding-top:20px;
  padding-bottom:10px;
  width:100%;
  position: fixed;
  top:-10px;
  overflow-y:auto;
//  background: -webkit-linear-gradient(#ffffff, #eeeeee 50%, #F6F5F0); /* For Safari 5.1 to 6.0 */
//  background: -o-linear-gradient(#ffffff, #eeeeee 50%, #F6F5F0); /* For Opera 11.1 to 12.0 */
//  background: -moz-linear-gradient(#ffffff, #eeeeee 50%, #F6F5F0); /* For Firefox 3.6 to 15 */
//  background: linear-gradient(#ffffff, #eeeeee 50%, #F6F5F0); /* Standard syntax (must be last) */
}

.nav-content-wrapper{
  width:80%;
  margin-top:30px;
  float:right;
  font-size:15px;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  .navbar-ul{
    margin-left:32%;
    -moz-margin-start:31%;
    li{
      float:left;
      padding-left:20px;
      display:inline-block;
      a{
        padding:7px;
        font-weight:700;
        color: #433F40;
        text-decoration:none;
      }
      a.active{
        border-bottom: 2px solid #0272a7;
        text-decoration:none;
      }
      a:hover{
        text-decoration:none;
        border-bottom: 2px solid #0272a7;
      }
    }
  }
}

.navscroll-background{
  width:100%;
  position: fixed;
  top:-10px;
  overflow-y:auto;
  background: -webkit-linear-gradient(#ffffff, #eeeeee 50%, #F6F5F0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffffff, #eeeeee 50%, #F6F5F0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffffff, #eeeeee 50%, #F6F5F0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffffff, #eeeeee 50%, #F6F5F0); /* Standard syntax (must be last) */
//  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
//  background-color:#F6F5F0;
  -webkit-box-shadow: 0px 8px 4px -6px #888888;
  -moz-box-shadow: 0px 8px 4px -6px #888888;
  box-shadow: 0px 8px 4px -6px #888888;
}
.navscroll-logo-container{
  width:20%;
  margin:0px auto;
  float:left;
  .logo{
    width:60px;
    height:60px;
  }
}
.navscroll-content-wrapper{
  width:80%;
  margin-top:25px;
  float:right;
  font-size:15px;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  .navbar-ul{
    margin-left:32%;
    -moz-margin-start:31%;
    li{
      float:left;
      padding-left:20px;
      display:inline-block;
      a{
        padding:7px;
        font-weight:700;
        color:#433F40;
      }
      a.active{
        background-color: #433F40;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        color:#ffffff;
      }
      a:hover{
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration:none;
        background-color: #433F40;
        color:#ffffff;
      }
    }
  }
}

.logo-container{
  width:20%;
  margin:0px auto;
  float:left;
}

.clear-class{
  clear:both;
}

.logo{
  width:80px;
  height:80px;
}

.navbar-ul{
  list-style-type:none;
}
