.navbar-container{
  margin-top:20px;
  width:100%;
  position: fixed;
  top:-10px;
  overflow-y:auto;
}

.nav-content-wrapper{
  width:80%;
  margin-top:50px;
  float:right;
  font-size:15px;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  .navbar-ul{
    margin-left:35%;
    li{
      float:left;
      padding-left:20px;
      display:inline-block;
      a{
        padding:7px;
        font-weight:700;
        color: #433F40;
      }
      a.active{
        border-bottom: 2px solid #ddd;
      }
      a:hover{
        text-decoration:none;
        border-bottom: 2px solid #ddd;
      }
    }
  }
}

.navscroll-background{
  width:100%;
  position: fixed;
  top:-10px;
  overflow-y:auto;
  background: -webkit-linear-gradient(#545454,#AFAFAF,#C2C2C2,#DDDDDD,#FFFFFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#545454,#AFAFAF,#C2C2C2,#DDDDDD,#FFFFFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#545454,#AFAFAF,#C2C2C2,#DDDDDD,#FFFFFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#545454,#AFAFAF,#C2C2C2,#DDDDDD,#FFFFFF); /* Standard syntax (must be last) */
  -webkit-box-shadow: 0px 0px 8px 2px #DDDDDD;
  -moz-box-shadow: 0px 0px 8px 2px #DDDDDD;
  box-shadow: 0px 0px 8px 2px #DDDDDD;
}
.navscroll-logo-container{
  width:20%;
  margin:0px auto;
  float:left;
  .logo{
    width:60px;
    height:60px;
  }
}
.navscroll-content-wrapper{
  width:80%;
  margin-top:25px;
  float:right;
  font-size:15px;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  .navbar-ul{
    margin-left:35%;
    li{
      float:left;
      padding-left:20px;
      display:inline-block;
      a{
        padding:7px;
        font-weight:700;
        color:#433F40;
      }
      a.active{
        background-color: #433F40;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        color:#ffffff;
      }
      a:hover{
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration:none;
        background-color: #433F40;
        color:#ffffff;
      }
    }
  }
}

.logo-container{
  width:20%;
  margin:0px auto;
  float:left;
}

.clear-class{
  clear:both;
}

.logo{
  width:80px;
  height:80px;
}

.navbar-ul{
  list-style-type:none;
}
