// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.first-content-wrapper{
  margin-top:150px;
  .jumbotron{
    text-align: center;
    background:transparent;
    color:#0272a7;
  }
}
.second-content-wrapper{
  background-color:#F5F5F5;
  margin-top:380px;
  padding-bottom:300px;
  .container h1{
    color:#0272a7;
    text-align:center;
    margin-top:100px;
  }
  .content-sub-wrapper{
    margin-top:50px;
    .content-desc{
      width: 50%;
      float:left;
    }
    .content-img{
      width:50%;
      float:left;
      img{
        width:500px;
        height:500px;
      }
    }
  }
  .page_header{
    border-bottom:5px solid #0272a7;
  }
}
.third-content-wrapper{

}

