// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-content-wrapper{
  margin-top:163px;
  .navbar{
    background-image: none;
    border-radius: 0px;
    margin-bottom:0px;
  }
  .navbar-brand{
    padding-left: 66px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 200px;
  }
  .navbar-nav li{
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    color: #0f7864;
    background-image:none;
  }
  .navbar-static{
    top:0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}

.first-content-wrapper{
  .jumbotron{
    text-align: center;
    background: none;
    color:#0272a7;
    margin-top:150px;
  }
}
.second-content-wrapper{
  background-color:#FAFAFA;
  padding-bottom:50px;
  .custom-header-two{
    padding-bottom: 60px;
    margin-top:40px;
    .page-header{
      border-bottom: 1px solid #0272a7;
    }
    p{
      text-align:center;
      font-size:36px;
      font-weight:bold;
      font-family: 'PT Sans Narrow', sans-serif;
      text-transform:capitalize;
      color:#0272a7;
    }
  }
  .content-container {
    .container {
      color: #0272a7;
      border-radius: 6px;
      h3{
        margin:0px;
        padding:10px;
        text-align:center;
      }
      .col-md-4 {
        position: static;
        .thumbnail {
          padding:8px;
          -webkit-box-shadow: 0px 0px 8px 2px #DDDDDD;
          -moz-box-shadow: 0px 0px 8px 2px #DDDDDD;
          box-shadow: 0px 0px 8px 2px #DDDDDD;
          img{
            height:261px;
          }
        }
      }
    }
  }
  .content-sub-wrapper{
    margin-top:50px;
    .content-desc{
      width: 50%;
      float:left;
    }
    .content-img{
      width:50%;
      float:left;
      img{
        width:500px;
        height:500px;
      }
    }
  }
  .page_header{
    border-bottom:5px solid #0272a7;
  }
}
.third-content-wrapper{
  background-color:#413F40;
  padding-bottom: 50px;
  .jumbotron{
    margin-top:10px;
  }
  .custom-header-three{
    padding-bottom: 60px;
    margin-top:40px;
    .page-header{
      border-bottom: 1px solid #5E7C94;
    }
    p{
      text-align:center;
      font-size:36px;
      font-weight:bold;
      font-family: 'PT Sans Narrow', sans-serif;
      text-transform:capitalize;
      color:#5E7C94;
    }
  }
  .container{
    .col-md-12{
      position: static;
      ul{
        margin:0px auto;
        padding:0px;
        li{
          list-style-type: none;
          text-decoration:none;
          .content-desc-one{
            background-color:#FAFAFA;
            padding:20px;
            font-size:16px;
            border:5px solid #1ABC9C;
          }
          .content-desc-two{
            background-color:#FAFAFA;
            padding:20px;
            font-size:16px;
            border:5px solid #1ABC9C;
            h3{
              text-align:right;
            }
          }
          .content-desc-three{
            background-color:#FAFAFA;
            padding:20px;
            font-size:16px;
            border:5px solid #1ABC9C;
            h3{
              text-align:center;
            }
            p{
              text-align:center;
            }
          }
        }
      }
      .col-md-6 {
        padding: 0px;
        margin: 0px;
        position: static;
        .thumbnail{
          margin:0px;
          border-radius:0px;
          background-color: #5E7C94;
          border-color: #5E7C94;
          img{
            width:100%;
            height:400px;
          }
        }
      }
      .col-md-4 {
        padding: 0px;
        margin: 0px;
        position: static;
        .thumbnail {
          margin: 0px;
          border-radius: 0px;
          background-color: #5E7C94;
          border-color: #5E7C94;
          img{
            width:100%;
            height:275px;
          }
        }
      }
    }
  }
}

.fourth-content-wrapper{
  background-color:#5E7C94;
  padding-bottom: 50px;
  color:#F1F1F1;
  .jumbotron{
    margin-top:10px;
  }
  .custom-header-four{
    padding-bottom: 60px;
    margin-top:40px;
    .page-header{
      border-bottom: 1px solid #F1F1F1;
    }
    p{
      text-align:center;
      font-size:36px;
      font-weight:bold;
      font-family: 'PT Sans Narrow', sans-serif;
      text-transform:capitalize;

    }
  }
  .tab-content-details{
   text-align:center;
    margin-left:8%;
  }
  .col-md-4{
    .thumbnail{
      -webkit-box-shadow: 0px 0px 8px 2px rgba(35, 31, 32, 0.38);
      -moz-box-shadow: 0px 0px 8px 2px rgba(35, 31, 32, 0.38);
      box-shadow: 0px 0px 8px 2px rgba(35, 31, 32, 0.38);
      .caption{
        background-color: #DDDDDD;
        h3{
          background-color: #8D7358;
          color: #F1F1F1;
          padding:5px;
          margin-bottom:0px;
        }
        p {
          background-color: #413F40;
          color: #F1F1F1;
          padding:5px;
          font-size:18px;
          margin-bottom:0px;
        }
        .about-desc{
          font-size:16px;
          background-color: #555555;
          color: #F1F1F1;
        }
      }
    }
  }

  .team-main-container{
    margin-top:40px;
  }
}

.fifth-content-wrapper{
  background-color:#FAFAFA;
  padding-bottom: 50px;
  .container{
    .custom-header-four{
      padding-bottom: 60px;
      margin-top:40px;
      .page-header{
        border-bottom: 1px solid #413F40;
      }
      p{
        text-align:center;
        font-size:36px;
        font-weight:bold;
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform:capitalize;
        color:#413F40;
      }
    }
    .map-container-wrapper{
      background-color: rgba(242, 112, 55, 0.41);
      padding-top:15px;
      padding-bottom:25px;
      position:static;
      .page-header h2{
        text-align:center;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight:bold;
        color:#FFFFFF;
      }
    }
    .map-details-wrapper{
      #map-canvas{
        width: 100%;
        height: 400px;
        background-color: #CCC;
        border:5px solid #FFFFFF;
      }
    }
    .col-md-6{
      background-color: #5E7C94;
      padding-top:15px;
      position:static;
      .page-header{
       border-bottom: 1px solid #FFFFFF;
       text-align:center;
       color: #FFFFFF;
        h2{
          font-family: 'PT Sans Narrow', sans-serif;
          font-weight: bold;
        }
      }
      .col-md-12{
        position: static;
      }
    }
    .contact-right-content{
      background-color: #bfbfbf;
      padding-top:15px;
      padding-bottom:19px;
      position:static;
      .page-header{
        border-bottom: 1px solid #FFFFFF;
        text-align:center;
        color: #FFFFFF;
        h2{
          font-family: 'PT Sans Narrow', sans-serif;
          font-weight: bold;
        }
      }
      .col-md-12{
//        margin-left:17%;
        text-align:center;
        position: static;
        h3{
          font-family: 'PT Sans Narrow', sans-serif;
          color: #FFFFFF;
          margin-top:0px;
        }
        p{
          font-weight: 700;
          font-size: 16px;
          margin:1px;
          color: #FFFFFF;
        }
      }
    }
  }
}

.footer-content{
  background-color:#363B3F;
  padding-bottom: 50px;
  color: #F1F1F1;
  .container{
  }
}