:javascript
  $(document).ready(function(){
    $(document).scroll(function(){
      var scrollPos = $(document).scrollTop();
      if(scrollPos >= 87){

        $('#navbar').addClass("navscroll-background")
        $('#navbar').removeClass("navbar-container")

        $('#navbar-logo').addClass("navscroll-logo-container")
        $('#navbar-logo').removeClass("logo-container")

        $('#navbar-content').addClass("navscroll-content-wrapper")
        $('#navbar-content').removeClass("nav-content-wrapper")
      }
      if(scrollPos < 87){

        $('#navbar').removeClass("navscroll-background")
        $('#navbar').addClass("navbar-container")

        $('#navbar-logo').removeClass("navscroll-logo-container")
        $('#navbar-logo').addClass("logo-container")

        $('#navbar-content').removeClass("navscroll-content-wrapper")
        $('#navbar-content').addClass("nav-content-wrapper")

      }
    });
  });

%nav#navbar.navbar-container
  .container
    #navbar-logo.logo-container
      =image_tag "comp-logo.png", class: "logo"
    #navbar-content.nav-content-wrapper
      %ul.navbar-ul
        %li
          %a{href: "#about",class: "active"} HOME
        %li
          %a{href: "#about"} ABOUT
        %li
          %a{href: "#about"} WHAT WE DO
        %li
          %a{href: "#about"} PRODUCTS
        %li
          %a{href: "#about"} CONTACT US
    .clear-class
